/* body{
    background: var(--Primary-gradient);
}


.nav-link{
    color: var(--Primary);
}
.nav-link:hover{
    color: var(--Primary-dark);
}
.nav-link.active{
    color: var(--Secondary-dark);
}
.navbar-nav .dropdown-menu {
    left: unset;
    right: 0;
}
.dropdown-item{
    color: var(--Primary);
}
.dropdown-item:hover{
    color: var(--Primary);
    background-color: var(--Primary-extra-light);
}
.mainContent{
    padding: 100px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projectsArea{
    padding: 50px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.projectsArea .card{
    margin-top: 30px;
}
.projectsArea .card a{
    display: block;
}
.projectCard{
    height: 128px;
    object-fit: contain;
    padding: 20px;
    background-color: var(--Secondary-extra-light);
}

footer{
    margin-top: 100px;
    padding: 30px;
    text-align: center;
    background: var(--Primary-gradient-rev);
}
 */
 body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: var(--Gray);
}
.topNave{
    background-color: var(--Primary-extra-light);
}
 .navContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1400px;
    margin: auto;
 }

 ul.nav{
    list-style-type: none;
    padding: 0;
    display: flex;
 }
 .navItem{
    padding: 16px 20px;
    text-decoration: none;
    font-size: var(--font-size-navigation);
    color: var(--Primary);
 }
 .navItem:hover{
    color: var(--Primary-dark);
    background-color: var(--Secondary-light);
 }

 .navItem.selected{
    color: var(--Secondary-dark);
 }

 section.hero{
    background: var(--Primary-gradient);
 }

 .heroContainer{
    margin: auto;
    width: 1400px;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 .heroImage{
    width: 300px;
    padding: 40px;
 }

 .heroContent{
    width: 647px;
 }

 .heroTitle{
    font-size: var(--font-size-h1);
    font-style: normal;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 0;
 }

 .heroText{
    margin: 0;
 }

 .projects{
    width: 1400px;
    margin: auto;
    margin-top: 60px;
 }

 .sectionTitle{
    font-size: var(--font-size-h2);
    font-style: normal;
    font-weight: 400;
    margin-bottom: 20px;
    margin-top: 0;
 }
 .projects .sectionTitle{
    text-align: center;
 }

 .projectContainer{
    display: flex;
    gap: 24px;
    align-items: stretch;
 }

 .projectCard{
    width: 100%;
    border: 1px solid var(--Gray-extra-light);
    background: var(--white);
 }
 .cardImage{
    width: 100%;
 }
 .cardContent{
    padding: 16px;
 }

 .cardTitle{
    font-size: var(--font-size-h3);
    font-style: normal;
    font-weight: 500;
    margin-bottom: 0.75rem;
    margin-top: 0;
 }

 .cardText{
    margin-bottom: 0.75rem;
 }

 .btnPrimary{
    border-radius: 0.25rem;
    background: var(--Primary);
    padding: 0.625rem;
    color: var(--white);
    font-size: var(--font-size-button);
    font-weight: normal;
    line-height: normal;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
 }

 footer{
    background: var(--Primary-gradient-rev);
    margin-top: 60px;
 }
 .footerContainer{
    width: 1400px;
    margin: auto;
    text-align: center;
 }
 .footerTitle{
    font-size: var(--font-size-h5);
    font-style: normal;
    font-weight: 400;
    margin-bottom: 0.75rem;
    margin-top: 0;
 }
 .footerText{
    font-size: var(--font-size-body-small);
    font-style: normal;
    font-weight: 400;
    margin-bottom: 0.75rem;
    margin-top: 0;
 }
 .footerCopy{
    font-size: var(--font-size-body-small);
    font-style: normal;
    font-weight: 400;
    margin-bottom: 0;
    margin-top: 0.75rem;
 }