@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
   --Primary:#6100E9;
   --Primary-light:#995DF0;
   --Primary-extra-light:#EFE4FC;
   --Primary-dark:#0800D1;
   --Secondary:#D600E9;
   --Secondary-dark:#A200DB;
   --Secondary-light:#E988F1;
   --Secondary-extra-light:#FAE3FB;
   --Danger:#EE008D;
   --Danger-light:#F183BE;
   --Danger-extra-light:#FBE1EF;
   --Danger-dark:#B10068;
   --Warning:#EE5F14;
   --Warning-light:#FF8E1F;
   --Warning-extra-light:#FFF2E0;
   --Warning-dark:#E5410F;
   --Success:#90F138;
   --Success-light:#C6F894;
   --Success-extra-light:#F2FEE5;
   --Success-dark:#08B226;
   --Gray:#595959;
   --Gray-light:#767676;
   --Gray-extra-light:#E0E0E0;
   --Gray-dark:#272727;
   --white:#FFFFFF;
   --Primary-gradient:linear-gradient(180deg, #EFE4FC 0%, rgba(239, 228, 252, 0) 100%);
   --Primary-gradient-rev:linear-gradient(180deg, rgba(239, 228, 252, 0) 0%, #EFE4FC 100%);
   --font-size-h1: 3rem;
   --font-size-h2:  2.125rem;
   --font-size-h3: 1.625rem;
   --font-size-h4: 2.125rem;
   --font-size-h5: 1.25rem;
   --font-size-h6: 1.25rem;
   --font-size-body-small: 0.875rem;
   --font-size-button: 0.875rem;
   --font-size-navigation: 1.2rem;
}